*{
    margin: 0;
    padding: 0;
    list-style: 0;
}

#first-div{
    display: flex;
    flex-direction: column;
    background-image: url('https://playvalorant.com/assets/images/leaderboards/leaderboards-hero-banner.jpg');
    background-position: 50% top;
    width: 100%;
    height: 76%;
    color: white;
}

#main-div{
    background-color: #ece8e1;
}
#search{
    display: flex;
    max-width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-family: arial,georgia,sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
}

#input-box{
    margin-left: 15px;
    max-width: 30.8rem;
    position: relative;
    width: 100%;
    background-color: #dbd9d2;
    border: 1px solid #8b978f;
}

#input-box > input{
    padding: 2rem 5rem 2rem 2rem;
    width: 100%;
    border: 1px solid #8b978f;
    background-color: #dbd9d2;;
    color: #768079;
    font-family: inherit
}

.grids{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.grids > div{
    background-color: aqua;
}