
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
}
.news-txt{
    font-size: 8vw;
}
.news-txt:hover{
    color: #8e44ad;
    transition: 0.5s ease-out;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    min-width: 100%;
    min-height: 20vh;
    background-color: white;
}
.news-cards{
    margin: 5% 15%;

}
.card{
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    background-color: #d3d3d3;
}
.card > img{
    width: 100%;
}
.card-txt{
    font-size: 2vw;
}